absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.30.1
anyio==4.3.0
argcomplete==3.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
Beaker==1.12.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
blivet==3.10.0
blivet-gui==2.5.0
boto3==1.34.128
botocore==1.34.128
Brlapi==0.8.5
cachetools==5.3.3
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
comm==0.2.1
configobj==5.0.8
configparser==7.0.0
contourpy==1.2.0
cryptography==41.0.7
cssselect==1.1.0
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.8
dasbus==1.7
dataclasses-json==0.6.7
dbus-python==1.3.2
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
Django==4.2.11
djangorestframework==3.14.0
dm-tree==0.1.8
dnf==4.19.2
dnspython==2.6.1
docutils==0.20.1
entrypoints==0.4
etelemetry==0.3.1
executing==2.0.1
ez_setup==0.9
fastjsonschema==2.19.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.13.1
fitz==0.0.1.dev2
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Limiter==3.8.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.7
flitz==0.0.7
fonttools==4.49.0
fqdn==1.5.1
fros==1.1
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
geojson==2.5.0
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.1
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
groq==0.9.0
grpcio==1.62.1
gunicorn==23.0.0
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.4
humanize==3.13.1
idna==3.7
importlib-metadata==6.9.0
importlib_resources==6.4.0
inkex==1.3.1
ipykernel==6.29.2
ipython==8.21.0
ipywidgets==8.1.2
iso639==0.1.4
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.22
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.4
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.13.0
jupyter_server_terminals==0.5.2
jupyterlab==4.1.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
keras==3.0.5
kiwisolver==1.4.5
langchain==0.2.9
langchain-anthropic==0.1.17
langchain-community==0.2.7
langchain-core==0.2.28
langchain-groq==0.1.6
langchain-openai==0.1.20
langchain-pinecone==0.1.2
langchain-text-splitters==0.2.2
langgraph==0.1.19
langsmith==0.1.92
langtable==0.0.67
lapx==0.5.5
libclang==16.0.6
libcomps==0.1.20
libdnf==0.73.1
limits==3.13.0
loguru==0.7.2
looseversion==1.3.0
louis==3.28.0
lxml==5.1.0
Mako==1.2.3
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.3
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
msgpack==1.0.6
multidict==6.0.5
mypy-extensions==1.0.0
mysqlclient==2.2.1
namex==0.0.7
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.2.1
nftables==0.1
ngrok==1.3.0
nibabel==5.2.1
nipype==1.8.6
notebook==7.1.1
notebook_shim==0.2.4
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
olefile==0.47
openai==1.33.0
opencv-python==4.9.0.80
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.3
Paste==3.7.1
pathlib==1.0.1
pexpect==4.9.0
pid==2.2.3
pillow==10.3.0
pinecone-client==4.1.2
pinecone-plugin-interface==0.0.7
pipenv==2023.11.15
platformdirs==4.1.0
ply==3.11
productmd==1.38
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
prov==2.0.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.4
pycurl==7.45.2
pydantic==2.7.3
pydantic_core==2.18.4
pydot==2.0.0
pyenchant==3.2.2
pygame==2.5.2
Pygments==2.17.2
PyGObject==3.48.2
pykickstart==3.52
pymongo==4.8.0
PyMySQL==1.1.0
pynvim==0.5.0
PyOpenGL==3.1.7
pyOpenSSL==23.2.0
pyowm==3.3.0
pyparsing==3.1.1
pyparted==3.13.0
pypdf==4.3.0
pyserial==3.5
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-meh==0.51
python-pam==2.0.2
pytz==2023.3.post1
pyudev==0.24.1
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
radian==0.6.12
rchitect==0.4.6
rdflib==6.3.2
redis==5.0.8
referencing==0.33.0
regex==2024.4.16
reportlab==4.2.0
requests==2.28.2
requests-file==2.0.0
requests-ftp==0.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rpm==4.19.1.1
rsa==4.9
rst2pdf==0.101
s3transfer==0.10.1
scikit-learn==1.4.1.post1
scipy==1.12.0
scour==0.38.2
seaborn==0.13.2
selenium==4.22.0
selinux @ file:///builddir/build/BUILD/libselinux-3.6/src
Send2Trash==1.8.2
sepolicy @ file:///builddir/build/BUILD/selinux-3.6/python/sepolicy
setools==4.5.1
setuptools==69.1.1
simpleaudio==1.0.4
simplejson==3.19.2
simpleline==1.9.0
six==1.16.0
smartypants==2.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.7.1
soupsieve==2.5
SQLAlchemy==2.0.31
sqlparse==0.4.2
stack-data==0.6.3
sympy==1.12
systemd-python==235
tavily-python==0.3.4
Tempita==0.5.2
tenacity==8.4.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.0
thop==0.1.1.post2209072238
threadpoolctl==3.3.0
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
torch==2.2.0
torchvision==0.17.0
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
traits==6.3.2
trio==0.25.1
trio-websocket==0.11.1
triton==2.2.0
types-python-dateutil==2.8.19.20240311
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
ultralytics==8.1.15
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.30.1
virtualenv==20.25.0
virtualenv-clone==0.5.7
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.1
wheel==0.42.0
widgetsnbextension==4.0.10
wrapt==1.16.0
wsproto==1.2.0
xkbregistry==0.3
yarl==1.9.4
youtube-transcript-api==0.6.2
zipp==3.17.0
